.navContainer {
  color: white;
  background: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}

.navLogo {
  font-size: 25px;

  .innerLogo {
    color: rgba(135, 206, 235, 1);
  }
}

.navLink {
  font-size: 15px;
  color: lightgrey;
  transition: all 150ms ease;

  :hover {
    color: skyblue;
  }
}

@media screen and (max-width : 415px){
  .navContainer{
    flex-direction: column;
    gap: 10px;
  }
}
