.navContainer {
  color: white;
  background: black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  font-size: 25px;

  .innerLogo {
    color: rgba(135, 206, 235, 1);
  }
}

.navLink {
  font-size: 15px;
  color: lightgrey;
  transition: all 150ms ease;

  :hover {
    color: skyblue;
  }
}
